/* Base styles (desktop first) */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url('bg.png');
  background-size: cover;
  background-position: center;
  padding: 20px;
}

.login {
  width: 100%;
  max-width: 420px;
  background: #edf7de;
  border: 2px solid rgb(129, 162, 99);
  backdrop-filter: blur(9px);
  color: rgb(54, 94, 50);
  border-radius: 12px;
  padding: 30px 40px;
}

.login h1 {
  font-size: 32px;
  text-align: center;
}

.login .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.input-box input {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 40px;
  font-size: 16px;
  color: #9fd54b;
  padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
  color: #9fd54b;
}

.input-box i {
  position: absolute;
  right: 20px;
  top: 30%;
  transform: translateY(-50%);
  font-size: 20px;
}

.login .remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin: -15px 0 15px;
  flex-wrap: wrap;
}

.remember-forgot label input {
  accent-color: #9fd54b;
  margin-right: 3px;
}

.remember-forgot a {
  color: hwb(115 20% 63%);
  text-decoration: none;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

.login .btn {
  width: 100%;
  height: 45px;
  background: #9fd54b;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
}

.login .register-link {
  font-size: 14px;
  text-align: center;
  margin: 20px 0 15px;
}

.register-link p a {
  color: #4d842d;
  text-decoration: none;
  font-weight: 600;
}

.register-link p a:hover {
  text-decoration: underline;
}

.logo {
  display: block;
  margin: 0 auto 20px auto;
  max-width: 150px;
  z-index: 2;
  height: 70%;
  margin-bottom: 20px;
  position: absolute;
}

/* Responsive styles */
@media (max-width: 600px) {
  .login {
    padding: 20px;
  }

  .login h1 {
    font-size: 24px;
  }

  .input-box input {
    font-size: 14px;
    padding: 15px 40px 15px 15px;
  }

  .login .btn {
    height: 40px;
    font-size: 14px;
  }

  .logo {
    max-width: 100px;
    width: 50%;
  }
}
